@model List<CMS.MODEL.Entities.Material>
@{
    ViewBag.Title = "Materiel";
    Layout = "~/Areas/BusinessStructure/Views/Shared/_Layout.cshtml";
}

    <div class="col-md-12">
        <h2>İç Hizmetler</h2>
        <!--Begin::Portlet-->
        <div class="m-portlet m-portlet--full-height  m-portlet--unair">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Malzemeler
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <a href="@Url.Action("AddMateriel","InternalServices")" class="btn btn-brand m-btn btn-lg 	m-btn m-btn--icon">
                    <span>
                        <i class="fa flaticon-search"></i>
                        <span>Yeni Malzeme Oluştur</span>
                    </span>
                </a>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Görsel</th>
                            <th>Malzeme Adı</th>
                            <th>Eklenme Tarihi</th>
                            <th>Birim Ücreti</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <th>Görsel</th>
                            <th>@item.MaterialName</th>
                            <th>@item.CreatedDate</th>
                            <th>@item.UnitPrice</th>                            
                            <th><a href="@Url.Action("UpdateMateriel","ResearchDevelopment" , new { Id = item.Id })" name="@item.Id" class="btn m-btn--pill m-btn--air m-btn m-btn--gradient-from-primary m-btn--gradient-to-info">Güncelle</a> <a href="@Url.Action("DeleteMaterial","ResearchDevelopment" , new { Id = item.Id })" name="@item.Id" class="btn m-btn--pill m-btn--air m-btn m-btn--gradient-from-danger m-btn--gradient-to-warning">Sil</a></th>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>


    </div>

