@model List<CMS.MODEL.Entities.JobApplication>
@{
    ViewBag.Title = "Recruitment";
    Layout = "~/Areas/BusinessStructure/Views/Shared/_Layout.cshtml";
}

<div class="col-xl-12">
    <!--begin::Portlet-->
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        İş Başvuruları
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">

            <!--begin::Section-->
            <div class="m-section">

                <div class="m-section__content">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>TCKN</th>
                                <th>Ad</th>
                                <th>Soyad</th>
                                <th>Telefon</th>
                                <th>Email</th>
                                <th>CV</th>
                                <th>Başvuru Tarihi</th>
                                <th>İşlem</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                            <tr>
                                <th>@item.TCKN</th>
                                <th>@item.FirstName</th>
                                <th>@item.LastName</th>
                                <th>@item.Phone</th>
                                <th>@item.Email</th>
                                <th>@item.CV</th>
                                <th>@item.CreatedDate.ToShortDateString()</th>
                                <th>


                                    @{
                                        switch ((int)item.Confirmation)
                                        {
                                            case 7:
                                                <span class="m-badge m-badge--danger m-badge--wide">Onaylanmadı</span>
                                                break;
                                            case 6:
                                                <span class="m-badge m-badge--success m-badge--wide">Onaylandı</span>
                                                break;
                                            case 1:
                                                <a href="@Url.Action("ApproveRecruitment","HR" , new { Id = item.Id })" name="@item.Id" class="btn m-btn--pill m-btn--air m-btn m-btn--gradient-from-primary m-btn--gradient-to-info">Onayla</a>
                                                <a href="@Url.Action("jectionRecruitment","HR" , new { Id = item.Id })" name="@item.Id" class="btn m-btn--pill m-btn--air m-btn m-btn--gradient-from-danger m-btn--gradient-to-warning">Reddet</a>
                                                break;
                                        }
                                    }



                                </th>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <!--end::Section-->
            <!--begin::Section-->
            <!--end::Section-->
        </div>

        <!--end::Form-->
    </div>

    <!--end::Portlet-->

</div>

