@model List<CMS.MODEL.Entities.Petition>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/BusinessStructure/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12">

    <div class="m-portlet m-portlet--tab">

        <!-- BEGIN: Subheader -->
        <!-- END: Subheader -->
        <div class="m-subheader ">
            <div class="d-flex align-items-center">
                <div class="m-demo__preview m-demo__preview--btn">
                    <a href="@Url.Action("New","Petition")" class="btn btn-success btn-lg m-btn 	m-btn m-btn--icon m-btn--pill">
                        <span>
                            <i class="fa fa-archive"></i>
                            <span>Dilekçe Oluştur</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="m-content">
            <div class="row">
                <div class="col-xl-12">
                    <!--begin::Portlet-->
                    <div class="m-portlet">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        Dilekçeler
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body">

                            <!--begin::Section-->
                            <div class="m-section">

                                <div class="m-section__content">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Konusu</th>
                                                <th>İlgili Kurum</th>
                                                <th>İçerik</th>
                                                <th>Tarih</th>
                                                <th>Durum</th>
                                                <th>İşlem</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <th>@item.Type</th>
                                                    <th>@item.RelatedInstitution</th>
                                                    <th>@item.Content</th>
                                                    <th>@item.CreatedDate.ToShortDateString()</th>
                                                    <th>
                                                        @{
                                                            switch ((int)item.Confirmation)
                                                            {
                                                                case 7:
                                                                    <span class="m-badge m-badge--danger m-badge--wide">Onaylanmadı</span>
                                                                    break;
                                                                case 6:
                                                                    <span class="m-badge m-badge--success m-badge--wide">Onaylandı</span>
                                                                    break;
                                                                case 1:
                                                                    <span class="m-badge m-badge--info m-badge--wide">Onay Bekliyor</span>
                                                                    break;
                                                            }
                                                        }

                                                    </th>
                                                    <th>
                                                        @if ((int)item.Confirmation != 6 && (int)item.Confirmation != 7 )
                                                        {
                                                            <a href="@Url.Action("Update","Petition" , new { Id = item.Id })" name="@item.Id" class="btn m-btn--pill m-btn--air m-btn m-btn--gradient-from-primary m-btn--gradient-to-info">Güncelle</a> <a href="@Url.Action("Delete","Petition" , new { Id = item.Id })" name="@item.Id" class="btn m-btn--pill m-btn--air m-btn m-btn--gradient-from-danger m-btn--gradient-to-warning">Sil</a>
                                                        }
                                                    </th>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <!--end::Section-->
                            <!--begin::Section-->
                            <!--end::Section-->
                        </div>

                        <!--end::Form-->
                    </div>

                    <!--end::Portlet-->

                </div>

            </div>
        </div>
    </div>
</div>

